p{
    color :blue ;
    font-weight: bold;
    background-color: rgb(116, 186, 255);
    border: 3pc;
    width: 15%;
}
h1{
    border: 5px solid rgb(9, 67, 213);
    width: 15%;
    text-align: center;
}
img{
    width: 250px;
    display: inline-block;
}
p.hw{
    color: green ;
}
